<div class="container ">
    <div class="card w-50 mt-5 m-auto">
        <div class="card-body px-5">
          <h5 class="card-title d-flex justify-content-between pt-2 mb-5"> <span>Total Wallet Balance</span> <span><i class="bi bi-wallet-fill text-success"></i></span> </h5>
          <h5 class="mb-1 ms-2 text-info-emphasis"> {{'50000' | currency:'INR'}} </h5>
          <p class="text-body-tertiary ms-2">Available Balance</p>
          <div class="mb-4 px-3">
            <label for="walletamount" class="form-label">Enter Amount</label>
            <input type="number" class="form-control" id="walletamount">
          </div>
          <div class="bottom d-flex justify-content-evenly mt-1">
            <a href="#" class="btn btn-secondary">Add Money To Wallet</a>
            <a href="#" class="btn btn-primary" [routerLink]="['/duebills']" routerLinkActive="router-link-active"  >Pay Bills Via Wallet</a>
          </div>
        </div>
      </div>
    
</div>