.fixed-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }

  
  @media only screen and (max-width: 845px) {
    .alert{
      width: 90% !important;
    }
  }